herodotus:
  environment:
    logstash-server-addr: 127.0.0.1:5044
    gateway-server-addr: http://localhost:8847
    database:
      host: 127.0.0.1
      port: 15432
      name: herodotus
      username: ENC(VQOHWBUv8CXJE50zyMEhCozzElZhNbJ8suinU7Ph651G1xl4QPweElrhtXP4V0T8)
      password: ENC(VQOHWBUv8CXJE50zyMEhCozzElZhNbJ8suinU7Ph651G1xl4QPweElrhtXP4V0T8)
    redis:
      host: 127.0.0.1
      port: 6379
      password:
    kafka:
      bootstrap-servers: 127.0.0.1:9092
  switch:
    database:
      ddl-auto: update
      init-mode: never
      use-second-level-cache: true
      show-sql: false
      format-sql: false
      generate-statistics: false
    swagger:
      enabled: true
    redisson:
      enabled: false
    rest:
      scan:
        enabled: true


  management:
    log-center:
      server-addr: ${herodotus.environment.logstash-server-addr}
      loggers:
        cn.herodotus.eurynome: debug
        org.springframework.security: debug
        com.alibaba.nacos.client.naming: error
        com.alibaba.nacos.shaded.io.grpc.netty.shaded.io.grpc.netty: error
        # 关闭不必要的日志
        org.reflections.Reflections: off
        com.alibaba.nacos.client: error
        com.alibaba.nacos.common.remote.client: error
        com.ulisesbocchio: error

jasypt:
  encryptor:
    password: ${JASPYT_HOME:2bda7d3a-dba1-45a4-b08e-cbd731a0418e}