<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>统一认证 - 登录页</title>

    <link rel="stylesheet" type="text/css" th:href="@{/components/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/features/login/css/login.css}"/>
    <script type="text/javascript" th:src="@{/components/bootstrap/js/jquery.v2.2.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/components/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="m-login-bg">
    <div class="m-login">
        <div class="m-login-warp">
            <div class="card">
                <div class="card-header"> 欢迎登录</div>
                <div class="card-block" style="height: 200px;">
                    <form role="form" method="post" th:action="@{/login}">
                        <div class="form-group">
                            <input type="text" name="username" required placeholder="登录名/邮箱/手机号" autocomplete="off" class="form-control ">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" required placeholder="密码" autocomplete="off" class="form-control ">
                        </div>
                        <div class="form-group">
                            <p class="help-block"> <a class="pull-right" href="">忘记密码？</a></p>
                        </div>
                        <div class="form-group m-login-btn">
                            <button class="btn btn-primary btn-block" type="submit">登录</button>
                        </div>
                    </form>
                </div>
                <p class="copyright">统一认证登录</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
