herodotus:
  environment:
    logstash-server-addr: false
    gateway-server-addr: http://192.168.101.10:8847
    database:
      host: 127.0.0.1
      port: 15432
      name: dante_cloud
      username: herodotus
      password: herodotus
    redis:
      host: 127.0.0.1
      port: 16379
      password:
      database: 3
    kafka:
      bootstrap-servers: 127.0.0.1:9092
  switch:
    database:
      ddl-auto: update
      init-mode: never
      use-second-level-cache: true
      show-sql: false
      format-sql: false
      generate-statistics: false
    swagger:
      enabled: true
    rest:
      scan:
        enabled: true
  session:
    timeout: 2h
  log-center:
    server-addr: ${herodotus.environment.logstash-server-addr}
    loggers:
      cn.herodotus: debug
      org.springframework.security: debug
      com.alibaba.nacos.client.naming: error
      com.alibaba.nacos.shaded.io.grpc.netty.shaded.io.grpc.netty: error
      org.reflections.Reflections: off
      com.alibaba.nacos.client: error
      com.alibaba.nacos.common.remote.client: error
      com.ulisesbocchio: error

jasypt:
  encryptor:
    password: ${JASPYT_HOME:2bda7d3a-dba1-45a4-b08e-cbd731a0418e}