version: '3.8'
services:
  minio:
    image: quay.io/minio/minio:RELEASE.2024-04-18T19-09-19Z
    container_name: minio
    hostname: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: herodotus
      MINIO_ROOT_PASSWORD: herodotus
      MINIO_CONFIG_ENV_FILE: /etc/config.env
      TZ: Asia/Shanghai
    volumes:
      - /usr/local/docker-volumes/minio/data:/mnt/data
      - /usr/local/docker-volumes/minio/config.env:/etc/config.env
    command: server /data --console-address ':9001'
    privileged: true